* {
  box-sizing: border-box;
}

html {
  --pink: hsl(322, 100%, 66%);
  --light-pink: hsl(321, 100%, 78%);
  --light-red: hsl(0, 100%, 63%);
  --dark-cyan: hsl(192, 100%, 9%);
  --pale-blue: hsl(207, 100%, 98%);
  --poppins: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding-top: 30px;
  padding-bottom: 30px;
}
.header .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  width: 125px;
}
.header-link {
  color: var(--pink);
  text-decoration: none;
  padding: 5px 16px;
  border-radius: 20px;
  border: 1px solid;
  font-size: 14px;
}
